body {
    background-color: rgb(226, 226, 226);
    color: rgb(18, 18, 18);
    font-family: 'Times New Roman', Times, serif;
}
button {
    background-color:rgb(239, 239, 239);
}
img {
    max-height: 30px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}
.controlButton {
    background-color: rgb(226, 226, 226);
    border: none;
}
.view {
    border: rgb(18, 18, 18);
    margin: 1%;
    padding: 1.5%;
    display: flex;
    max-width: 45%;
    min-width: 45%;
    min-height: 45%;
    max-height: 45%
}